* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
 main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
 }



 body {
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#home .hero, #home .content {
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional: Set a max-width */
    margin: 20px auto; /* Center the container */
}

#home .hero-content, #home .content {
    text-align: center;
}

#home h1, #home h2 {
    font-size: 2em; 
    padding: 1px;
}

#home p {
    font-size: 1.2em; /* Adjust font size as needed */
    line-height: 1.6; /* Adjust line height for better readability */
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header{
   
    background: rgb(55,46,213);
background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
}
header h1 {
    text-align: center;
    font-size: 40px;
    margin-right: 20%;
}

.hero{
    
    height: 25vh;
}


.hero h2{
    text-align: center;
    font-size: 90px;
    margin-bottom: 10px;
}

.content p{
    text-align: center;
    font-size: 30px;
   
}

.hero-content p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

nav{
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    border-bottom: 1px solid #000;
    z-index: 10;

}

nav .logo{
    width: 180px;
    border-radius: 0px;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
   
}

nav ul li {
    display: inline-block;
    margin: 10px 50px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}
nav a:hover {
    color: gold;
    transform: scale(1.8); 
}

    


.container ul{
    list-style: none;
}

.banner {
   
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: -10%;
}


 
  .container {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px;
    
 }

        #card{
        align-items: center;
    justify-content: center;
    text-align: center;
    
        }

        

        section .card1 {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 500px;
            height: 400px;
            transition: 0.15s;
            transform-style: preserve-3d;
            perspective: 1000px;
            
        }


        section .card2 {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 500px;
            height: 400px;
            transition: 0.15s;
            transform-style: preserve-3d;
            perspective: 1000px;
        }

        
        section .card3 {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 500px;
            height: 400px;
            transition: 0.15s;
            transform-style: preserve-3d;
            perspective: 1000px;
        }

        .card .face {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            backface-visibility: hidden;
            
        }

        .card1 .face.face1 {
           border: #333 4px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform: rotateY(0deg);
            background-repeat: no-repeat;
            background-position: center;
           background-attachment: fixed;
           background-size: contain;
           background-repeat: no-repeat;
            background-position: center;
           background-attachment: fixed;
           background-size: cover;
           background-image: url('assets/TS.jpg');
        }

        .card2 .face.face1 {
            border: #333 4px solid;
             display: flex;
             justify-content: center;
             align-items: center;
             z-index: 1;
             transform: rotateY(0deg);
             background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('assets/FULL\ LOGO.PNG');
         }

         .card3 .face.face1 {
            border: #333 4px solid;
             display: flex;
             justify-content: center;
             align-items: center;
             z-index: 1;
             transform: rotateY(0deg);
             background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-image: url('assets/TS1.jpg');
         }

        .card:hover .face.face1 {
            transform: rotateY(180deg);
        }

        .card .face.face2 {
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            transform: rotateY(-180deg);
        }

        .card:hover .face.face2 {
            transform: rotateY(0deg);
        }

        .content {
            text-align: center;
        }

 

        .content h3 a {
            color: black;
            text-decoration: none;
        }

        .content p {
            color: black;
        }

    

        .social {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
    
  }
  
  .social a {
    display: inline-block;
    margin-right: 10px; 
  }
  

  .social img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.3s ease-in-out; 
  }

  
  .social a:hover img {
    transform: scale(1.2); 
    
  }

  footer {
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    padding-top: 0px;
    position: relative; 
}

footer p {
    font-size: 25px;
    color: black;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 30px;
    color: black;
}



.carousel {
    position: relative;
    display: inline-block;
    height: 65vh; /* Adjusted height */
    width: 1100px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: #333 solid 2px;
    background-image: url(assets/IMG-20240621-WA0010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -180px;
}

.carousel h2{
    font-size: 50px;
    color: rgb(223, 8, 8);
    font-weight: 900;
    
}


.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    color: rgb(167, 0, 0);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    
}

.carousel-item {
    min-width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.carousel-inner h3{
    font-size: 30px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: black solid 2px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

button:hover {
    background-color: rgba(0,0,0,0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-item img{
    width: 200px;
    
    
    
}

.carousel h2{
    text-align: center;
}

/* Extra Small Devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        min-height: 100vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: 4%;
    }


main {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero h1{
    text-align: center;
    font-size: 15px;
    
}


.content h2{
    text-align: center;
    font-size: 25px;
}

.content p{
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}

.hero-content p{
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}

.hero{
    
   height: auto;
}

.carousel {
    height: 80vh; 
    display: inline-block;
    overflow: hidden;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: #333 solid 2px;
    background-image: url(assets/IMG-20240621-WA0010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 


.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    color: white;
    font-size: 10px;
    font-weight: 900;
}

.carousel-item {
    min-width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.carousel-inner h3{
    font-size: 30px;
    
}

.carousel h2{
    font-size: 35px;
    color: #fff;
}

footer {
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    
}

footer p {
    font-size: 8px;
    color: black;
    margin-bottom: 10px;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 10px;
    color: black;
}


header h1 {
    margin: 0;
    font-size: 10px;
    margin-left: 70px;
}

.social img {
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.3s ease-in-out; 
  }

  nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 8px;
    
    }


section .card1 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
margin-top: -50px;
}


section .card2 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
    
}


section .card3 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
   
}

nav .logo{
    width: 80px;
  border-radius: 0px;
}

}