* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
 main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
 }

 svg{
    display: none;
 }

  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px); 
}

.sidebar li{
    width: 100%;
    
}

.sidebar a{
    width: 100%;
    
}

 body {
    min-height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#home .hero, #home .content {
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional: Set a max-width */
    margin: 20px auto; /* Center the container */
}

#home .hero-content, #home .content {
    text-align: center;
}

#home h1, #home h2 {
    font-size: 25px; 
    padding: 10px;
}

#home p {
    font-size: 15px; /* Adjust font size as needed */
    line-height: 2; /* Adjust line height for better readability */
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header{
    background: rgb(55,46,213);
background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
}

.header {
    
    color: white;
    padding-top: 10px; 
    padding-bottom: 20px; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .15em;
    
}


.header h1 {
    color: #000000;
    margin-left: 10px;
    text-shadow:2px 2px 4px white;
}

.hero{
    
    height: 15vh;
}


.hero h2{
    text-align: center;
    font-size: 90px;
    margin-bottom: 10px;
}

.content p{
    text-align: center;
    font-size: 30px;
   
}

.hero-content p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

nav{
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    z-index: 10;

}

.headlogo img{
    margin-top: 7.5px;
    margin-bottom: -6px;
    margin-left: 20px;
    width: 100px;
    box-shadow: 2px 2px 5px white;
    transition: transform 0.3s ease-in-out; 
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .headlogo a:hover img {
    transform: scale(1.5); 
  }

  

.nav-container {
    display: flex; 
    align-items: center; 
    font-weight: 500;
    margin-right: 2%;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0; 
    padding: 0; 
}

nav ul li {
    display: inline-flex;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}
nav a:hover {
    color: gold;
    transform: scale(1.2); 
}

    


.container ul{
    list-style: none;
}

.banner {
   
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: -10%;
}


 
  .container {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px;
    
 }

        #card{
        align-items: center;
    justify-content: center;
    text-align: center;
    
        }

        

        section .card1 {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 300px;
            transition: 0.15s;
            transform-style: preserve-3d;
            perspective: 1000px;
            
        }


        section .card2 {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 300px;
            transition: 0.15s;
            transform-style: preserve-3d;
            perspective: 1000px;
        }

        
        section .card3 {
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
            width: 300px;
            height: 300px;
            transition: 0.15s;
            transform-style: preserve-3d;
            perspective: 1000px;
        }

        .card .face {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 0.5s;
            backface-visibility: hidden;
            
        }

        .card1 .face.face1 {
            border: 4px solid black;
            border-radius: 30px;
            box-shadow: 1px 1px 8px black;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            transform: rotateY(0deg);
            background-repeat: no-repeat;
            background-position: center;
           background-attachment: fixed;
           background-size: contain;
           background-repeat: no-repeat;
            background-position: center;
           background-attachment: fixed;
           background-size: cover;
           background-image: url('assets/TS.jpg');
        }

        .card2 .face.face1 {
            border: 4px solid black;
            border-radius: 30px;
            box-shadow: 1px 1px 8px black;
             display: flex;
             justify-content: center;
             align-items: center;
             z-index: 1;
             transform: rotateY(0deg);
             background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('assets/hhhhh.jpg');
         }

         .card3 .face.face1 {
            border: 4px solid black;
            border-radius: 30px;
            box-shadow: 1px 1px 8px black;
             display: flex;
             justify-content: center;
             align-items: center;
             z-index: 1;
             transform: rotateY(0deg);
             background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: contain;
            background-repeat: no-repeat;
             background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-image: url('assets/TS1.jpg');
         }

        .card:hover .face.face1 {
            transform: rotateY(180deg);
        }

        .card .face.face2 {
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            transform: rotateY(-180deg);
        }

        .card:hover .face.face2 {
            transform: rotateY(0deg);
        }

        .content {
            text-align: center;
            font-size: 12px;
        }

 

        .content h3 a {
            font-size: 15px;
        }

        .content p {
            font-size: 12px;
        }

    

        .social {
    list-style: none;
    padding: 20px;
    margin: 0;
    text-align: center;
    
  }
  
  .social a {
    display: inline-block;
    margin-right: 10px; 
  }
  

  .social img {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.3s ease-in-out; 
  }

  
  .social a:hover img {
    transform: scale(1.2); 
    
  }

  footer {
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    padding-top: 0px;
    position: relative; 
}

footer p {
    font-size: 15px;
    color: black;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
}



.carousel {
    position: relative;
    display: inline-block;
    height: 65vh; /* Adjusted height */
    width: 900px;
    margin: 20px auto;
    overflow: hidden;
    border: 4px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 8px black;
    background-image: url(assets/IMG-20240621-WA0010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
margin-bottom: 160px;

}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    color: white;
    font-size: 1px;
    font-weight: 900;
}

.carousel-item {
    min-width: 100%;
    padding: 100px;
    box-sizing: border-box;
    position: relative; /* Make the carousel items relative */
}


.carousel-container {
    text-align: center; /* Center child elements horizontally */
}

.carousel h3 {
    font-size: 30px; /* Set font-size for h3 */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add border-radius */
    text-align: center; /* Center text within the h3 */
    margin-top: 30px;
}


.carousel ul{
    font-size: 20px; /* Set font-size for h3 */
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
    padding: 20px; /* Add padding */
    border-radius: 5px; /* Add border-radius */
    text-align: center;
}

.carousel li{
    list-style: disc;
    margin-left: 10px;
}

.carousel {
    position: relative; /* Required for absolute positioning of h2 */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align to the top */
    height: 80vh; /* Set the height of the carousel */
}

.carousel h2 {
    position: absolute; /* Position h2 absolutely within the carousel */
    top: 20px; /* Adjust this value to control vertical spacing from the top */
    font-size: 35px;
    margin: 0px 0; /* Add margin for spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow */
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
    padding: 10px; /* Add padding */
    border-radius: 5px; /* Add border-radius */
    display: inline-block; /* Ensure background only covers text */
    text-align: center;
    color: #fff;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(9, 21, 192, 0.658);
    color: white;
    border: black solid 4px;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

button:hover {
    background-color: rgba(17, 66, 228, 0.514);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



.carousel h2{
    text-align: center;
}

/* Extra Small Devices (phones, 600px and down) */
@media only screen and (max-width: 600px),(max-width: 720px) {

    body {
        min-height: 100vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: 4%;
    }


      svg{
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
     
      }

    .sidebar{
        position: fixed;
        margin-top: 133px;
        margin-left: 280px;
        height: 150px;
        width: 80px;
        z-index: 999;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        backdrop-filter: (10px); 
       
    }
    
    .sidebar li{
        width: 100%;
        padding-top: 15px;
        font-weight: 500;

    }
    
    .sidebar a{
        width: 100%;
        color: black;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .nav ul li:nth-child(1) {
        display: none;
    }

    .nav ul li:nth-child(2) {
        display: none;
    }

    .nav ul li:nth-child(3) {
        display: none;
    }


    .nav-container {
        margin-right: 0;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        

    }

    nav ul li {
      
        display: inline-flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 12px;  
      
    
    }

main {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero h1{
    text-align: center;
    font-size: 15px;
    
}


.content h2{
    text-align: center;
    font-size: 25px;
}

.content p{
    text-align: center;
    font-size: 10px;
    margin-bottom: 10px;
}

#home h1 {
    /* Styles for h1 */
    font-size: 10px;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -15px;
}

#home p {
    /* Styles for p */
    font-size: 8px;
    color: #666;
    line-height: 1.9;
}

#home h2 {
    /* Styles for h2 */
    font-size: 10px;
    color: #444;
    margin-top: 20px;
}

.hero{
    min-height: 10vh;
    margin-bottom: 30%;
    
}

.carousel {
    height: 80vh; 
    display: inline-block;
    overflow: hidden;
    width: 350px;
    margin: 20px auto;
    border: 4px solid black;
  border-radius: 30px;
  box-shadow: 1px 1px 8px black;
    background-image: url(assets/IMG-20240621-WA0010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -30px;
    
}
 
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    color: white;
    font-size: 10px;
    font-weight: 900;
}

.carousel-item {
    min-width: 100%;
    padding: 100px;
    box-sizing: border-box;
    margin-top: -40px;
    text-align: center;

}

.carousel-inner h3{
    font-size: 30px; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 5px; 
    display: inline-block; 

}

.carousel ul{
    font-size: 15px; 
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 40px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    max-height: 50vh;
    width: 200px;
    margin-left: -30px;
    margin-top: 10px;

}

.carousel h2 {
    font-size: 35px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: -200px;
}

footer {
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    
}

footer p {
    font-size: 10px;
    color: black;
    margin-bottom: 10px;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 10px;
    color: black;
}


header h1 {
   margin-right: 20px;
    font-size: 12px;
    width: 100%;
    padding-left: 0px;
   
    
}

.social img {
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform 0.3s ease-in-out; 
  }

 


section .card1 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
margin-top: -50px;

}


section .card2 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
    font-size: 10px;
}


section .card3 {
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
    transition: 0.15s;
    transform-style: preserve-3d;
    perspective: 1000px;
    font-size: 10px;
}



footer {
    background: rgb(55,46,213);
    background: linear-gradient(90deg, rgba(55,46,213,0) 19%, rgba(87,86,214,0.927608543417367) 100%);
    text-align: center;
    padding: 1em 0;
    width: 100%;
    margin-top: 40px;
}

}